{% extends 'formeditor/base.html' %}
{% load static %}

{% block content %}

			<div class="row">
				<div class="col-md-8 w-75">
                    {% for post in posts %}
					<div class="card">
						<div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.text|safe}} </p>
                            <p class="card-text"><small class="text-muted">Last updated {{ post.published_date }} </small></p>
                            <a class="btn btn-primary btn-sm" href="{% url 'post_detail' pk=post.pk %}">Read More</a>

						</div>
					</div>
                    <br>
                        {% endfor %}
				</div>

                <!-- Sidebar Widgets Column -->
				<div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                                <i class="fa fa-comment-o"></i> My Account
                        </a>
                        <a href="{% url 'post_new' %}" class="list-group-item">
                                    <i class="fa fa-search"></i> Start Writing
                        </a>
                        <a href="{% url 'post_list' %}" class="list-group-item">
                                    <i class="fa fa-user"></i> My Essays
                        </a>
                        <a href="{% url 'logout' %}" class="list-group-item">
                                    <i class="fa fa-user"></i> Logout
                        </a>

                    </div>
				</div>

		  </div>
    {% endblock %}
