{% extends 'formeditor/base.html' %}
{% load static %}

{% block content %}


			<!-- Blog Entries Column -->
			{% if post.published_date %}
			<div class="row">
				<div class="col-md-8 w-75 min-width-460-md">

					<div class="card">
						<div class="card-body">
	                         <h2 class="card-title">{{ post.title }}</h2>
	                         <h6 class="card-subtitle mb-2 text-muted">{{ post.published_date }}</h6>


							<p class="card-text"> {{ post.text|safe}} </p>
						    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary btn-sm">Edit</a>
						</div>
					</div>
				</div>
			{% endif %}


                <!-- Sidebar Widgets Column -->
				<div class="col-md-4">

					{% for post in posts %}
						{% for video in post.video_set.all %}
							<div class="card">
								<h5 class="card-header"> {{video.video_title}}</h5>
								<div style="padding: 0px" class="card-body">
									<iframe width="397" height="255"
									src="{{video.video_url}}">
									</iframe>

								</div>
							</div>
							<br>

						{% endfor %}
					{% endfor %}

			</div>

		 </div>

		 
{% endblock %}
